<div class="well">
	<% _.each(albums, function(album){ %>
	<div class="list-group">
	  <a href="#" class="list-group-item active">
	    <p class="list-group-item-text pull-right"><%= _.escape(album.location.name) %></p>
	    <h2 class="list-group-item-heading"><%= _.escape(album.name) %></h2>
	    <span class="list-group-item-text albumListingTags"><%= _.escape(album.tags.join(' ')) %></span>
	    <a href="#album/remove/<%= _.escape(album.id) %>" class="list-group-item active">Remove</a>
	  </a>
	</div>
	<% }); %>
</div>