<div class="page-header">
  <h1><%=album.name%> <small><%=album.tags%></small></h1>
</div>

<div id="links" class="container">
  <div class="row">
    <% _.each(pics, function(pic){ %>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <a href="/pictures/file/<%=pic.id%>"
        title="<%=pic.name%> | <%=pic.location.name%> | <%=pic.tags%>"
        data-id="<%=pic.id%>"
        data-gallery>
        <img src="/pictures/thumb/<%=pic.id%>" class="img-responsive album_gallery" alt="<%=pic.name%> | <%=pic.location.name%>">
      </a>
    </div>
    <% }); %>
  </div>
</div>

<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <p class="details-btn"></p>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        links = this.getElementsByTagName('a');
    window.gallery = blueimp.Gallery(
          links,
          {
            index: link,
            event: event,
            toggleControlsOnReturn: false,
            toggleSlideshowOnSpace: false,
            onslide: function (index, slide) {
              var objectId = this.list[index].getAttribute('data-id');
              var node = this.container.find('.details-btn');
              node.empty();
              if (objectId) {
                node[0].innerHTML = '<a class="btn btn-primary pictureDetails" href="#picture/view/'+objectId+'"> View Details </a>';
              }
            }
          }
        );
};
</script>
