<% if (picture.canView) { %>
  <div class="well container">
    <div class="row">
      <div class="col-md-8">
        <img src="/pictures/file/<%=picture.id%>" class="img-rounded" width="100%"/>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading"> <h4>Details</h4> </div>
          <div class="panel-body">
            <dl id="details" class="dl-horizontal">
            </dl>
          </div>
        </div>
        <% if (picture.user == user.id) { %>
          <div class="panel panel-danger">
            <div class="panel-heading"> <h4>Actions</h4> </div>
            <div class="panel-body">
              <a class="btn btn-default" href="/#picture/edit/<%=picture.id%>">Edit</a>
            </div>
          </div>
          <%} else if (user.id != undefined && picture.likes == undefined || picture.likes.indexOf(user.id) == -1) {%>
            <button class="btn btn-primary" id="like">Like</button>
          <%} else if (user.id != undefined && picture.likes != undefined && picture.likes.indexOf(user.id) != -1) {%>
            <button class="btn btn-primary" id="unlike">Unlike</button>
          <%}%>
      </div>
    </div>
  </div>
<% } %>
